body{
    background-color: lightblue;
}

img{
    width: 300px;
}

#box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightsalmon;
    margin-bottom: 150px;
}